server:
  port: 8080

spring:
  application:
    name: fraud-risk-api
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:fraud_db}
    username: ${POSTGRES_USER:fraud_user}
    password: ${POSTGRES_PASSWORD:fraud_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
